/* Reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  background-color: chocolate;
  font-family: fredoka;
  text-align: center;
}

h1{
  color: #E52E6C;
}

.float-left{
  float: left;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

/* MAIN */

.container{
  margin: 30px auto;
  width: 1200px;
  height: 500px;
  max-width: 1200px;
  border: 1px solid black;
  background-color: chartreuse;
}

.container.title{
  font-size: 1.2rem;
}