/* Reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  font-family: fredoka;
  text-align: center;
}

h1{
  color: #E52E6C;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* MAIN */

.container{
  width: 90%;
  margin: 30px auto;
  max-width: 1000px;
}

/* Title Section */

.container.title{
  font-size: 1.2rem;
}

/* Introduction Section */


/* Team cards Section */

.cards{
  width: calc((100% - 60px) / 3);
  text-align: center;
  background-color: #0F0E17;
  border: 1px solid black;
  margin:  10px 10px 30px 10px;
}

.cards img{
  height: 100px;

}

.cards .member{
  padding: 10px 0 0 10px;
  width: calc(100% - 100px);
  color: white;
}

.member li{
  list-style: none;
  text-align: left;
  padding-bottom: 5px;
}

.member .member-name{
  font-size: 20px;
  font-weight: 700;
}

.role{

}

.member a{
  text-decoration: none;
  color: #1573C5;
}